<h1>About</h1>
<p>User interface for testing Groo inventory API, can be upgraded in the next project. CRUD implemented in this user interface including authentication for current user.</p>
<p>Version: 2.0.1</p>