<h1>About</h1>
<p>To facilitate project management responsibilities carried out by RMCT students, Internship students, final year project students (FYP), Deans, HR, Head of schools (HOS), Academic leaders(AL), FYP supervisors, FYP second markers, project administrators (FYP), project managers (FYP) and database administrator (DBA).</p>
<p>Version: 2.0.1</p>