<div class="jumbotron text-center">
	<h1 class="display-3">{{title}} dear,</h1>
	<p class = "lead">Write down or list down your Final Year Project here.</p>
	<a href="/items/add" class="btn btn-dark btn-lg">Add FYP Item</a>
</div>